<%- include('../header') %>

  <div class="row">
    <div class="col-12">

      <table class="table text-center" style="margin-top: 75px;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">SubCategory</th>
            <th scope="col">ExSubCategory</th>
            <th scope="col">product</th>
            <th scope="col">price</th>
            <th scope="col">description</th>
            <th scope="col">image</th>
            <th scope="col">actions</th>
          </tr>
        </thead>
        <tbody>
          <% product.map((product,i)=> { %>

            <tr>
              <td>
                <%= ++i %>
              </td>
              <td class="text-capitalize">
                <%= product.categoryid.name%>
              </td>
              <td class="text-capitalize">
                <%= product.subcategoryid.subcategory%>
              </td>
              <td class="text-capitalize">
                <%= product.exsubcategoryid.exsubcategory %>
              </td>
              <td class="text-capitalize">
                <%= product.name%>
              </td>
              <td>
                <%= product.price%>
              </td>
              <td class="text-capitalize">
                <%= product.description%>
              </td>
              <td>
                <div class="div">
                  <img src="../<%= product.image%>" alt="" style="width: 100px;">
                </div>
              </td>
              <td>
                <a href="/product/deleteproduct?id=<%=product.id%>" class="btn btn-danger py-2"
                  style="font-size: 16px !important;">
                  <i class="fa-solid fa-trash-can"></i>
                </a>
                <a href="/product/editeproduct?id=<%=product.id%>" class="btn btn-primary py-1"
                  style="font-size: 20px !important;">
                  <i class="fa-solid fa-pen"></i>
                </a>
              </td>

            </tr>

            <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  <%- include('../footer') %>